$fertilizer-green: (
    50 : #f1f8e9,
    100 : #dcedc9,
    200 : #c5e1a5,
    300 : #aed580,
    400 : #9ccc65,
    500 : #8bc34a,
    600 : #83bd43,
    700 : #78b53a,
    800 : #6eae32,
    900 : #5ba122,
    A100 : #ebffdd,
    A200 : #ceffaa,
    A400 : #b0ff77,
    A700 : #a2ff5d,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$fertilizer-primary: mat-palette($fertilizer-green);

$fertilizer-blue: (
    50 : #e4e5e8,
    100 : #bbbec6,
    200 : #8e92a0,
    300 : #60667a,
    400 : #3e465e,
    500 : #1c2541,
    600 : #19213b,
    700 : #141b32,
    800 : #11162a,
    900 : #090d1c,
    A100 : #5d76ff,
    A200 : #2a4aff,
    A400 : #0026f6,
    A700 : #0022dc,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$fertilizer-accent: mat-palette($fertilizer-blue);


$primary: mat-color($fertilizer-primary);
// $blue: mat-color($fertilizer-accent);